<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <textarea name="name" id="text" cols="80" rows="10"></textarea>

    <button type="button" name="button" id="btn">评论</button>
    <button type="button" name="button" id="get">获取评论</button>


    <script>
    	var parse = function(str) {
    		var results = '';
    		try {
    			HTMLParse(he.unescape(str,{strict:true}),{
    				start: function(tag,attrs,unary) {
    					if (tag == 'script'|| tag == 'img' || tag == 'iframe' || tag == 'frame' || tag == 'style' || tag == 'link' ) {
    						return;
    					}
    					results += '<' + tag;
    					// for (var i = 0; i < arrs.length; i++) {
    					// 	results += " " + attrs[i].name + '="' +attrs[i].escaped + '"';
    					// }

    					results += (unary?"/":"") + ">";

    				},
    				end:function(tag) {
    					results += "<" + tag +">";

    				},
    				chars:function(text) {
    					results += text;

    				},
    				comment:function(text) {
    					results += "<!--" + text +"-->";

    				}

    			});

    			return results;

    		}catch (e){
    			console.log(e);

    		} finally {

    		}
    	}
    </script>

    <script>
    	var btn = document.getElementById('btn');
    	var get = document.getElementById('get');
    	var txt = document.getElementById('text');

    	btn.addEventListener('click',function () {
    		var xhr = new XMLHttpRequest();
    		var url = '/comment?comment=' + txt.value;
    		xhr.open('POST',url,true);
    		xhr.onreadystatechange = function() {
    			if (xhr.readyState == 4) {
    				if (xhr.readyStatus == 200 ) {
    					console.log(xhr);
    				} else {
    					console.log('error');
    				}
    			}
    		}
    	});

    	get.addEventListener('click',function () {
    		var xhr = new XMLHttpRequest();
    		var url = '/getComment';
    		xhr.open('GET',url,true);
    		xhr.onreadystatechange = function() {
    			if (xhr.readyState == 4) {
    				if (xhr.readyStatus == 200 ) {
    					var com = parse(JSON.parse(xhr.response).comment);
    					var txt = document.createElememt('span');
    					txt.innerHTML = com;
    					document.body.appendChild(txt);
    				} else {
    					console.log('error');
    				}
    			}
    		}
    	});



    </script>

  </body>
</html>